@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=Spline+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    justify-content: center;
}

/* Linear gradient animation */
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space Mono', monospace;
  }
  
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }

/* title and score area */
header {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* styling for the score box */
h2 {
    color: black;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.score {
    display: flex;
    justify-content: space-evenly;
}

/* displays the player and computer score */
#player-count, #computer-count {
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    text-align: center;
    margin-top: 1rem;
}

/* main game area  */
.game-area {
    width: 400px;
    max-width: 100%;
    height: 345px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

/* styling for the three images, rock paper scissors */
.game-btn {
    background-color: transparent;
    border: none;
    padding: 20px;
}
/* Hover effect on the three image buttons */
.game-btn:hover {
    border-radius: 50%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.choose {
    text-align: center;
    
}

/* Hides the result text until its called in JSc*/
.result-text {
	display: none;
}

.game-area.results-shown {
	flex-wrap: nowrap;
}

.results-shown .result-text {
	display: block;
	order: 2;
	text-align: center;
	padding: 15px;
}

.results-shown .game-btn {
	display: none;
}

.game-btn.player {
	order: 1;
	display: block;
}

.game-btn.computer {
	order: 3;
	display: block;
}

.rules-title {
    display: flex;
    text-align: center;
}

.rules {
    padding: 10px;
}

.rules-btn {
    font-family: inherit;
    background-color: transparent;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

.rules-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.rule-styles {
    display: none;
    background-color: #fff;
    width: 300px;
    border: 1px solid #000;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    transform: translateY(-50%); /* middle of the box falls in the middle of the screen */
    text-align: center;
}

.rule-styles.rules-shown {
    display: block;
}